.sidebar {
    background-color:white;
    position: fixed;
    top: 50px;
    bottom:0;
    left: 0;
    width: 70px;
}

.home-button {
    position: relative;
    height: 70px;
    width: 70px;
    background-color: white;
    border: none;
}

.home-button:hover {
    background-color: rgb(246, 242, 242);
}

.home-icon {
    height: 25px;
    width: 25px;
}

.icon-names {
    font-family: Roboto, Arial;
    font-size: 10px;
    color: rgb(41, 41, 41);
}